# Ignore virtual environments
.venv/
venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings (optional)
.vscode/

# System files
.DS_Store
Thumbs.db

# Python egg metadata
*.egg-info/
.eggs/

# Logs
*.log

# Hugging Face model caches
.cache/
*.ckpt
*.pt
*.bin

# Datasets
data/
